<p>edit works!</p>
<!-- Ajouter un héro -->
<div>
  <button mat-raised-button color="warn" (click)="addHero()">Ajouter un héro</button>
  <button mat-raised-button color="primary" (click)="updateHero()">Modifier un héro</button>
</div>

<table class ="table">
  <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Title</th>
    <th>Key</th>
    <th>Modifier / Ajouter</th>
  </tr>
    <tr *ngFor="let u of my_heroes">
      <td>
        {{u.id}}
      </td>
      <td>
        {{u.name}}
      </td>
      <td>
        {{u.title}}
      </td>
      <td>
        {{u.key}}
      </td>
      <td>  
        <button mat-raised-button color="primary" (click)="setHeroEdit(u)"> Modifier</button>
        <button mat-raised-button color="warn" (click)="removeHero(u)">Supprimer</button>

      </td>
    </tr>
  </table>   